<style>
    .navbar{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

</style>

<div class="navbar">
    <div>
        <a href="/">
        <h1>LOGO</h1>
        </a>
    </div>

    <div>
        <form method="GET" action="{% url 'home' %}">
            <input type="text" name="q" placeholder="Search Rooms...."  />
        </form>
    </div>

    <div>
        {% if request.user.is_authenticated %}
        <p>Hello {{request.user}}</p>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <a href="{% url 'update-user' %}">Updeta Profile</a>





    </div>
    <hr>


</div>